<%- include ("partes/cabecera") %>

<body>
    <%- include ("partes/navegacionTecnico") %>
    <div class="content-page-container full-reset custom-scroll-containers">
        <%- include ("partes/navegacionSuperiorTecnico") %>
        <div class="container">
            <div class="page-header">
              <h1 class="all-tittles">Sistema bibliotecario <small>préstamos y reservaciones</small></h1>
            </div>
        </div>
        <div class="conteiner-fluid">
            <ul class="nav nav-tabs nav-justified"  style="font-size: 17px;">
                <li <% if (bandera == 2) { %>
                    class="active"
                    <% } %>><a href="loan.html">Todos los préstamos</a></li>
                <li <% if (bandera == 1) { %>
                    class="active"
                    <% } %>><a href="loanpending.html">Devoluciones pendientes</a></li>
                <li <% if (bandera == 3) { %>
                    class="active"
                    <% } %>
                ><a href="loanreservation.html">Reservaciones</a></li>
            </ul>
        </div>

        <div class="container-fluid" style="margin: 30px 0;">
            <div class="row"></div>
            <h2 class="text-center all-tittles">Su ficha <%= texto %> satisfactoriamente</h2>
            <figure>
                <img src="/../assets/img/satisfactorio.png" alt="simbolo de tramite satisfactorio" class="img-responsive img-circle center-box">
            </figure>
            <div class="div-table-cell" style="width: 6%;">
                <% if(bandera == 1) { %>
                <form action="/cards/pending">
                 <% } else if (bandera == 2) { %> 
                <form action="/cards/">
                    <% } else if (bandera == 3) {%>
                        <form action="/cards/reservas">
                            <% } %>
                    <button type="submit" class="btn btn-primary"> &nbsp;&nbsp; Regresar</button>
                </form> 
            </div>
        </div> 
    </div>   
           
    <%- include ("partes/piePagina") %>
</body>
</html>