<!DOCTYPE html>
<html lang="en">
    <%- include ("partes/cabecera2") %>
<body style="background-color: rgb(48, 34, 241);">
    <div class="form-container" style="background-color: rgb(48, 34, 241);  "  >       
   <div style="position: relative; display: flex;
   align-items: center;">
 <%  if ( code == 500 || code == 400) {%>
    <div style="position: absolute;"> <p class="text-center" style=" font-weight:bold; font-size:30px; "> <img src="/assets/icons/robot-error.ico"width= "180" height= "180" > ¡Error!</p><p class="text-center" style="font-size:20px; ">
            
                      <%= tipoError %>   (Error: <%= code %>)
                      <br><p class="text-center" style="font-size:25px;"> <%= message %></p> </p>
<br></div>
   
          
             
 <% } else if ( code == 403 || code == 401) { %>
    <div style="position: absolute;"> <p class="text-center" style=" font-weight:bold; font-size:30px; "> <img src="/assets/icons/peligro.ico"width= "180" height= "180" ></p>
<br>
              
              <p class="text-center" style="font-size:20px; ">
                      <%= tipoError %>   (Error: <%= code %>)
                      <br><p class="text-center" style="font-size:25px;"> <%= message %><a  class="button" style="color: coral;" href="/login">¡Logeate!</a> </p></p></div>
   
  
   
  <% } %>
       
      
</div>

  
 </div>   
</body>
</html>