<!DOCTYPE html>
<html lang="es">
<%- include ("partes/cabecera") %>
<script>
    
      //animacion para la seccion de noticias
 
      var first = 0;
    var speed = 700;

    function removeFirst() {
   
       
      first = $('div#cuadronot li:first').html();
      $('div#cuadronot li:first')
        .animate({ opacity: 0 }, speed)
        .fadeOut('slow', function () {
          $(this).remove();
        });

      addLast(first);

    }
    function addLast(first) {
     
      last = '<li style="display:none;">' + first + '</li>';
      $('div#cuadronot').append(last);
      $('div#cuadronot li:last')
        .animate({ opacity: 1 }, speed)
        .fadeIn('slow')
    }
      
      
//manejo de errores para todas las solicitudes ajax
function manejoErrores(error) {
    let message;
    if (error.responseJSON) {
      if (error.responseJSON.message) {
        message = error.responseJSON.message

      }
    } else {
      message = 'Sin información'
    }

    let statusCode = error.status || 500;
    let statusText = '';
    switch (statusCode) {
      case 400:
        statusText = 'Bad Request';
        break;
      case 401:
        statusText = 'Unauthorized';
        break;
      case 403:
        statusText = 'Forbidden';
        break;
      case 500:
        statusText = 'Internal Server Error';
        break;
      case 200:
        statusText = 'OK';
        break;
    };
    if (statusCode == 500 || statusCode == 400) {
      $("div#modal-cuerpo").html(`<p class="text-center" style=" font-weight:bold; font-size:30px; "> <img src="/assets/icons/robot-error.ico"width= "180" height= "180" > ¡Error!</p>
 <br>
                
                <p class="text-center" style="font-size:20px; ">
                        ${statusText}   (Error: ${statusCode})
                        <br><p class="text-center" style="font-size:25px;"> ${message}</p> </p>`);
    } else if ( statusCode == 403 || statusCode == 401) {
      $("div#modal-cuerpo").html(`<p class="text-center" style=" font-weight:bold; font-size:30px; "> <img src="/assets/icons/peligro.ico"width= "180" height= "180" ></p>
 <br>
                
                <p class="text-center" style="font-size:20px; ">
                        ${statusText}   (Error: ${statusCode})
                        <br><p class="text-center" style="font-size:25px;"> ${message}<button id="login" class="bnt btn-link" href="#">Logeate</button> </p></p>`);
    } else {
      $("div#modal-cuerpo").html(`<p class="text-center" style=" font-weight:bold; font-size:30px; ">!UPS¡ <img src="/assets/icons/robot-roto.ico"width= "180" height= "180" ></p>
      <br>
                
                <p class="text-center" style="font-size:20px; ">
                       Recurso no encontrado  (Error: 404) </p>`);
    }
    $("div#myModal").modal("hide");
    $("div#myModalError").modal("show");

  };


//ver la noticia en una ventana modal estatica
function verUnaNoticia(id) {
    let id_n = id;
    $.ajax({
      beforeSend: function () {
        $("p#modal-p-center").html(
          '<img src="/assets/gif/loading-22.gif"width= "100" height= "100">'
        );
        $("div#myModal").modal("show");
      },
      url: `/noticia?id_n=${id_n}`,
      type: "POST",
    })
      .done(function (noticia) {
        $("div#modal-body-2").html(`
         <div id="cuadro">
  <div class="container-fluid" >
  
          <img src="${noticia.url_imagen}" alt="">
          <a class="news-title" href="#">${noticia.titulo_noticia}</a>
          <span class="news-text text-center">${noticia.text_noticia}</span> </div>
        </div>
        `);
        $("div#myModal").modal("hide");
        $("div#myModal2").modal("show");

      })
      .fail(function (error) {
        manejoErrores(error);
      });
  }
 
     function min() {
        let f = new Date();

        let d = f.getDay();
        let mes, dia;
        if (d == 6) {
            f.setDate(f.getDate() + 2);
            f = new Date(f);

        } else if (d == 0) {
            f.setDate(f.getDate() + 1);
            f = new Date(f);

        } else if (d == 5 && f.getHours() > 16) {
           
            f.setDate(f.getDate() + 3);
            f = new Date(f);

        } else if (d != 5 && d != 6 && d != 0 && f.getHours() > 16) {
            
            f.setDate(f.getDate() + 1);
            f = new Date(f);

        } else {
           
            f = new Date(f);
        } 
        if ((f.getMonth() + 1) < 10) {
            let  m = f.getMonth() + 1;
             mes = "0" + m ;
        } else if ((f.getMonth() + 1) >= 10) {
            mes = f.getMonth() + 1; 
        }
        if (f.getDate() < 10) {
            let d = f.getDate();
             dia = "0" + d;
        } else if (f.getDate() >= 10) {
            dia = f.getDate();
        }
        return f.getFullYear() + "-" + mes + "-" + dia;
    };

    function sumarDias(fecha, dias) {
        fecha.setDate(fecha.getDate() + dias);
        return fecha;
    };

    function max() {
        let d, mes, dia;
        let f = min();
        f = new Date(f);
        for (var i = 1; i <= 5; i++) {
            let fecha = sumarDias(f, 1);
            fecha = new Date(fecha);
            d = fecha.getDay();
            if (d == 5) {
                if ((f.getMonth() + 1) < 10) {
                    let m = f.getMonth() + 1
                    mes = "0" + m;
                } else if (f.getMonth() + 1 >= 10 ) {
                    mes = f.getMonth() + 1;
                }
                if (f.getDate() < 10) {
                     dia = "0" + f.getDate();
                } else if (f.getDate() >= 10) {
                    dia = f.getDate();
                }

                return f.getFullYear() + "-" + mes + "-" + dia;

            }
        };
    }



    function añadirAtt(query) {
        $(query).attr("disabled", true);
    };
    function verPDF(input) {
        let url = "/lib/web/viewer.html?file=" + $(input).attr("data_url") + "#zoom=50";
        let titulo = $(input).attr("data_titulo");
        $('#myModalLabel').text(titulo);
        $('#pdfdoc').attr('src', url);
    
   $('#myModal7').modal("show");
    }; 
    function añadirTutor(input) {
        if ($(input).val() === 'Trabajo de grado') {

            $('div#div-contenedor').show();
        } else {
            $('div#div-contenedor').hide();
        }
    };
    function reservarLibro(ct) {
        let cota = $(ct).attr("id");
        $("#myLabel").html(`Ingresa la información`);
        $("#modal-body-4").html(`
  
  <p class="text-center">Ingresa el día que efectuaras el retiro y verifica la cota</p>
  <form id="reservarL" style="margin-left: 30%;">
      
  <div class="form-group row">
  <label for="fecha_e" class="col-sm-2 col-form-label">Día de retiro</label>
  <div class="col-sm-10">
    <input type="date" id="fecha_e"  class="fecha"  name="fecha_e" required="">
  
  </div>
  </div>
  <div class="form-group row">
  <label for="fecha_e" class="col-sm-2 col-form-label">Cota</label>
  <div class="col-sm-10">
  <input type="text" class="tooltips-general" require="" id="cota" name="cota" placeholder="Cota del libro" value="${cota}" reandoly >
  </div>
  </div>
  <div class="form-group row">
    <div id="cargando_2"  class="col-sm-2 "></div>
  <div class="col-sm-10">
  <button type="submit"  class="btn btn-primary">Reservar</button>
  </div>
  </div>
  
  </form>
  `);
        $("#myModal4").modal("show");

    };


    function tipoTrabajo(trabajo) {
        if ($(trabajo).val().toLowerCase() === "trabajo de grado") {
            $("div#tutor").html(`
             <input id="tutor" name="tutor" type="text" class="tooltips-general material-control" placeholder="Escribe aquí el tutor del libro" required="" pattern="[Áa-z- -ñ]{1,}" maxlength="70" data-toggle="tooltip" data-placement="top" title="Escribe el nombre del tutor del libro">
                         <span class="highlight"></span>
                         <span class="bar"></span>
                         <label>Autor</label>`);
        } else {
            $("div#tutor").html("");
        }
    }



    function ver(input) {

        let cota = input;
        $.ajax({
            beforeSend: function () {
                $("p#modal-p-center").html(
                    ' <img src="/assets/gif/loading-22.gif" width="100" height="100" />'
                );
                $("div#myModal").modal("show");

            },
            url: `/ver_libro?cota=${cota}`,
            type: 'POST'

        })
            .done(function (libro) {
                let url = libro.libro[0].destino;
                let titulo = libro.libro[0].titulo;
                $("div#myModal").modal("hide");
                $("div#tutor").html('');
                $("#myLabel").html('Informacion del libro');
                $("div#modal-body-4").html(`
           <form>
             <div style="height:50px;">
             <div class="form-group row">
             <label for="id1" class="col-sm-2 col-form-label">Tipo de libro</label>
             <div class="col-sm-10">
             <input value="${libro.libro[0].tipo_l}"  type="email" class="tooltips-general material-control"  class="form-control " id="id1" readonly>
             </div>
             </div>
             <div class="form-group row">
             <label for="id2" class="col-sm-2 col-form-label">Cota</label>
             <div class="col-sm-10">
             <input value="${libro.libro[0].cota}" type="text" class="tooltips-general material-control" class="form-control" id="id2" readonly>
             </div>
             </div>
             <div class="form-group row">
             <label for="id3" class="col-sm-2 col-form-label">Título</label>
             <div class="col-sm-10">
             <input value="${libro.libro[0].titulo}" type="text" class="tooltips-general material-control" class="form-control" id="id3" readonly>
             </div>
             </div>
             <div class="form-group row">
             <label for="id4" class="col-sm-2 col-form-label">Autor</label>
             <div class="col-sm-10">
             <input value="${libro.libro[0].autor}" type="text" class="tooltips-general material-control" class="form-control" id="id4" readonly>
             </div>
             </div>
   
             <div class="form-group row">
             <label for="id9" id="label-tutor" class="col-sm-2 col-form-label"></label>
             <div id="tutor" class="col-sm-10">
             
             </div>
             </div>
   
             <div class="form-group row">
             <label for="id5" class="col-sm-2 col-form-label">Editorial</label>
             <div class="col-sm-10">
             <input value="${libro.libro[0].editorial}" type="text" class="tooltips-general material-control" class="form-control" id="id5" readonly>
             </div>
             </div>
             <div class="form-group row">
             <label for="id6" class="col-sm-2 col-form-label">Volumen</label>
             <div class="col-sm-10">
             <input value="${libro.libro[0].volumen}" type="number" class="tooltips-general material-control" class="form-control" id="id6" readonly>
             </div>
             </div>
             <div class="form-group row">
             <label for="id7" class="col-sm-2 col-form-label">Ejemplar</label>
             <div class="col-sm-10">
             <input value="${libro.libro[0].ejemplar}" type="number" class="tooltips-general material-control" class="form-control" id="id7" readonly>
             </div>
             </div>
             <div class="form-group row">
             <label for="id8" class="col-sm-2 col-form-label">Año</label>
             <div class="col-sm-10">
             <input value="${libro.libro[0].año}" type="number" class="tooltips-general material-control" class="form-control" id="id8" readonly>
             </div>
             </div>
             <div class="form-group row">
             <label for="id10" class="col-sm-2 col-form-label">Estado del libro</label>
             <div class="col-sm-10">
             <input value="${libro.libro[0].estado_l}" type="text" class="tooltips-general material-control" class="form-control" id="id10"  readonly>
             </div>
             </div>
             <br>
   
             <p class="text-center"> <a onclick="verPDF(this)" role="button" class="btn btn-large btn-primary"  style="background:rgb(45, 101, 206);" id="${libro.libro[0].cota}" data_url="${url}" data_titulo=${titulo}">Ver Pdf del libro </a></p>
           </div>
           <br>
         
             
             </form>
   
           `);
           if (libro.libro[0].destino === 'no aplica') {
            let q = "a#" + libro.libro[0].cota;
            añadirAtt(q);
            $(q).html('No hay archivo pdf');
        }

                if (libro.libro[0].tipo_l === 'trabajo de grado') {
                    $("div#tutor").append(`
               <input value="${libro.libro[0].tutor}" type="text" class="tooltips-general material-control" class="form-control" id="id9" readonly>`);
                    $("label#label-tutor").html(`Tutor`);
                }
                $("div#myModal4").modal('show');

            })
            .fail(function (error) {
               manejoErrores(error);
            });
    };
//eliminar ficha reservada
function eliminarFicha(input) {
    let r = confirm('¿Estas seguro que deseas eliminar esta reservación');
    if (r) {
      
                let cota = input;
                $.ajax({
                    beforeSend: function () {
                        $("p#modal-p-center").html(
          '<img src="/assets/gif/loading-22.gif"width= "100" height= "100">'
        );
        $("div#myModal").modal("show");

                    },
                    url: `/usuario/eliminarFicha?cota=${cota}`,
                    type: 'delete'
                })
                    .done(function (res) {
                      $("#myModal").modal("hide");
                            $("p#modal-p-center6").html(`${res}`);
                            $("#myModal6").modal("show");  
                            
                            if (res === 'Se ha eliminado con éxito') {
                            let q = "#tab_" + cota;
                            $(q).remove();
                        }
                        seccionMisR();
                    })
                    .fail(function (error) {
                       manejoErrores(error);
                    });
}
};
function sobresaltarFecha(res, i) {

        let fechaActual = new Date();
        let fecha_d = res.fichas[i].fecha_d;
        let dia = fecha_d.split('-')[2];
        let mes = fecha_d.split('-')[1] - 1;
        let año = fecha_d.split('-')[0];
        let fecha_devolucion = new Date(año, mes, dia);
        let resultado = fechaActual.getTime() > fecha_devolucion.getTime();
        if (resultado) {
            let q = "#fecha-d" + res.fichas[i].cota_f;
            $(q).css({ 'color': 'red' });
        }
    };


    function actualizarFormato(t, tp, libro) {
        $(t).html(`${libro.titulo}`);
        $(tp).html(`${libro.tipo_l}`);
    };

     $(function () {
    
        seccionInicio();
 
        $("#myModal4").on('show.bs.modal', function (e) {
            $('input.fecha').attr("min", min());
            $('input.fecha').attr("max", max());
            $('form#reservarL').on("submit", function (e) {

                e.preventDefault();
                let data = $(this).serialize();
                let cota = $("input#cota").val();
                $.ajax({
                    beforeSend: function () {
                        $("p#modal-p-center").html(
          '<img src="/assets/gif/loading-22.gif"width= "100" height= "100">'
        );
        $("div#myModal4").modal("hide");
        $("div#myModal").modal("show");

                    },
                    url: '/usuario/reservar',
                    type: 'POST',
                    data: data,
                    timeout: 3000
                })
                    .done(function (res) {
                      $("#myModal").modal("hide");
                            $("p#modal-p-center6").html(`${res}`);
                            $("#myModal6").modal("show");  
                            
                            if (res === 'Se ha reservado con exito') {
                            let q = "button#" + cota;
                            añadirAtt(q);
                        }

                    })
                    .fail(function (error) {
                       manejoErrores(error);
                    });

            });

           
        });

        $('form#formato-enlinea').on("keyup", function (e) {
            e.preventDefault();
            let data = $(this).serialize();

            $.ajax({
                beforeSend: function () {
                    $("div#cargando").html(
                        '<p class="text-center"><img src="/assets/gif/loading-22.gif"width= "20" height= "20"></p>'
                    );

                },
                url: '/busqueda-especifica',
                type: 'POST',
                data: data
            })
                .done(function (libros) {
                    let resultados = libros.libros[0].length;
                    if (resultados > 0) {
                        cargando.innerHTML = `<h3 class="text-center">Se obtuvieron ${resultados} resultados de tu busqueda</h3>`;
                        container.innerHTML = ` 
              <h2 class="text-center all-tittles">Resultados</h2>
              <div class="table-responsive">
                  <div class="div-table" style="margin:0 !important;">
                      <div class="div-table-row div-table-row-list" style="background-color:#DFF0D8; font-weight:bold;">
                          <div class="div-table-cell" style="width: 6%;">#</div>
                          <div class="div-table-cell" style="width: 10%;">Titulo</div>
                          <div class="div-table-cell" style="width: 10%;">Tipo libro</div>
                          <div class="div-table-cell" style="width: 8%;">Autor</div>
                          
                          <div class="div-table-cell" style="width: 6%;">Ver</div>
                          <div class="div-table-cell" style="width: 6%;"> 
                          Reservar</div>
                      </div>
              </div>`;
                        for (var i = 0; i < libros.libros[0].length; i++) {

                            container.insertAdjacentHTML('beforeend', `
          <div class="table-responsive" id="${libros.libros[0][i].cota}0">
                  <div class="div-table" style="margin:0 !important;">
                      <div class="div-table-row div-table-row-list">
                          <div  class="div-table-cell" style="width: 6%;">${i + 1}</div>
                          <div  class="div-table-cell" style="width: 10%;">${libros.libros[0][i].titulo}</div>
                          <div  class="div-table-cell" style="width: 10%;">${libros.libros[0][i].tipo_l}</div>
                          
                          <div class="div-table-cell" style="width: 8%;">${libros.libros[0][i].autor}</div>
                          
                         
                          <div class="div-table-cell" style="width: 6%;">
                              
                              <button class="btn btn-info"  onclick="javascript:ver('${libros.libros[0][i].cota}')" if ><i class="zmdi zmdi-file-text"></i></button>
                          
                          </div>
                          <div class="div-table-cell" style="width: 6%;">
                              
                            <button class="btn btn-success" id="${libros.libros[0][i].cota}" onclick="javascript:reservarLibro(this)"><i class="zmdi zmdi-timer"></i></button>
  
                           
                          </div>
                      </div>
                  </div>
              </div>`);
                            if (libros.libros[0][i].estado_l === 'no disponible') {
                                let q = "button#" + libros.libros[0][i].cota;
                                añadirAtt(q);
                            };
                        }

                        document.getElementsByTagName("button")[1].focus({ preventScroll: true });
                    } else {
                        cargando.innerHTML = '<h3 class="text-center">No se obtuvieron resultados</h3>';
                        container.innerHTML = '';


                    }
                })
                .fail(function (error) {
                    limpiarButton.click();
                    manejoErrores(error);
                });
        });

        $('form#formato-enlinea-dos').on("keyup", function (e) {
            e.preventDefault();
            let data = $(this).serialize();

            $.ajax({
                beforeSend: function () {
                    $("div#cargando").html(
                        '<p class="text-center"><img src="/assets/gif/loading-22.gif"width= "20" height= "20"></p>'
                    );

                },
                url: '/busqueda-especifica',
                type: 'POST',
                data: data
            })
                .done(function (libros) {
                    let resultados = libros.libros[0].length;
                    cargando.innerHTML = `<h3 class="text-center">Se obtuvieron ${resultados} resultados de tu busqueda</h3>`;
                    if (resultados > 0) {
                        $("div#container").html(`
         
         <h2 class="text-center all-tittles">Mis libros</h2>
         <div class="table-responsive">
             <div class="div-table" style="margin:0 !important;">
                 <div class="div-table-row div-table-row-list" style="background-color:#DFF0D8; font-weight:bold;">
                     <div class="div-table-cell" style="width: 3%;">#</div>
                     <div class="div-table-cell" style="width: 15%;">Cota</div>
                     <div class="div-table-cell" style="width: 8%;">Título</div>
                     <div class="div-table-cell" style="width: 8%;">Autor</div>
                     <div class="div-table-cell" style="width: 10%;">Volumen</div>
                     <div class="div-table-cell" style="width: 10%;">Año</div>
                     
                     <div class="div-table-cell" style="width: 8%;">Info. Libro</div>
                 </div>
             </div>
         </div>
         `);
 
                     for (var i = 0; i < libros.libros[0].length; i++) {
                         var cota = libros.libros[0][i].cota;
                         $("div#container").append(`
                 <div class="table-responsive" >
             <div class="div-table" style="margin:0 !important;">
                 <div class="div-table-row div-table-row-list">
                     <div class="div-table-cell" style="width: 3%;">${1 + i
                             }</div>
                     <div class="div-table-cell" style="width: 15%;">${libros.libros[0][i].cota
                             }</div> 
                     <div class="div-table-cell" style="width: 8%;">${libros.libros[0][i].titulo
                             }</div>
                     <div class="div-table-cell" style="width: 8%;">${libros.libros[0][i].autor
                             }</div>
                              <div class="div-table-cell"  style="width: 10%;">${libros.libros[0][i].volumen
                             } </div>
                     <div class="div-table-cell" style="width: 10%;">${libros.libros[0][i].año
                             }</div>
                     <div class="div-table-cell" style="width: 8%;">
                         <button class="btn btn-info" onclick="ver('${libros.libros[0][i].cota
                             }')"><i class="zmdi zmdi-file-text"></i></button>
                     </div>
                 </div>
             </div>
         </div> `);
 
                     }
                    } else {
                        cargando.innerHTML = '<h3 class="text-center">No se obtuvieron resultados</h3>';
                        container.innerHTML = '';


                    }
                })
                .fail(function (error) {
                    limpiarButton.click();
                    manejoErrores(error);
                });
        });


    });

 //solicitas y muestras las noticias
 function mostrarNoticias() {
  
  $.ajax({
    beforeSend: function () {
      $("p#modal-p-center").html(
        '<img src="/assets/gif/loading-22.gif"width= "100" height= "100">'
      );
      $("div#myModal").modal("show");
    },
    url: "/noticias",
    type: "GET",
  })
    .done(function (noticias) {

      $("div#cuadronot").html('');

      if (noticias.length > 0) {
        
        for (var i = 0; i < noticias.length; i++) {

          $('div#cuadronot').append(`<li>
<div class="container-fluid" style="background-color: rgb(223, 231, 253);"   >
 <div onclick="javascript: verUnaNoticia('${noticias[i].id_n}')">   
       
       <img src="${noticias[i].url_imagen}" alt="">
       <a class="news-title" href="#">${noticias[i].titulo_noticia}</a>
       <span class="news-text text-center">${noticias[i].text_noticia}</span> </div>
      </div>
   </li>
   `);
  }
if (noticias.length == 1) {
clearInterval(intervalId);
$("div#myModal").modal("hide");
   
} else if (noticias.length > 1) {


    $("div#myModal").modal("hide");
    let bandera = 2;
     $("div#myModal").on("hidden.bs.modal", function () {
              if (bandera == 2) {
               
                bandera = 0;
                intervalId = setInterval(removeFirst, 7500);
              }
            });
  
}
        


      } else {
        $("div#cuadronot").append(`
                          <div class="container-fluid">
                  <h3 class="text-center all-tittles">No hay noticias recientes </h3>
              </div>
        
                          `);
                          clearInterval(intervalId);
                           $("div#myModal").modal("hide");
      }

     
     
    })
    .fail(function (error) {
      manejoErrores(error);
    });

};

 //solicitas y muestras las noticias
 function mostrarPreguntas() {
    $.ajax({
      beforeSend: function () {
        $("p#modal-p-center").html(
          '<img src="/assets/gif/loading-22.gif"width= "100" height= "100">'
        );
        $("div#myModal").modal("show");
      },
      url: "/preguntas-frecuentes",
      type: "GET",
    })
      .done(function (preguntas) {
        $("div#accordion").html('');

        if (preguntas.length > 0) {
          var j = 0;
          for (var i = 0; i < preguntas.length; i++) {

            $('div#accordion').append(`
        <div class="panel panel-default">
        
          <div class="panel-heading p-3 mb-3"  role="tab" id="heading${i}">
            <h3 class="panel-title">
              <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse${i}" aria-expanded="true" aria-controls="collapse${i}">
                ${preguntas[i].titulo_pregunta} 
              </a>
            </h3> 
          </div> 
          <div id="collapse${i}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
            <div class="panel-body px-3 mb-4">
              ${preguntas[i].text_respuesta}
             </div> 
          </div> 
        </div>
        
     `);


          }


        } else {
          $("div#accordion").append(`
                            <div class="container-fluid">
                    <h3 class="text-center all-tittles">No hay preguntas frecuentes guardadas </h3>
                </div>
          
                            `);
        }

        $("div#myModal").modal("hide");
      })
      .fail(function (error) {
        manejoErrores(error);
      });

  };
  $(document).on('click', '.modal', function () {
     $("button#login").on("click", function(e) {
       e.preventDefault();
      window.location = "/login"
     });
    });
    function ocultarCampos(check) {
        var limpiarButton = document.getElementById("limpiarButton");
        limpiarButton.click();
        var cargando = document.getElementById("cargando");
        var formatoEnLinea = document.getElementById("formato-enlinea");
        var container = document.getElementById("container");
        var librosDiv = document.getElementById("libros");
        let solicitud = '';
        container.style.display = "block";
        cargando.style.display = "block";
        var isChecked = document.getElementById("ocultar").checked;
        if (isChecked) {
            formatoEnLinea.style.display = 'none';
            $.ajax({
                beforeSend: function () {
                    $("p#modal-p-center").html(
          '<img src="/assets/gif/loading-22.gif"width= "100" height= "100">'
        );
        $("div#myModal").modal("show");

                },
                url: '/todos-libros',
                type: 'POST',
                timeout: 3000
            })
                .done(function (libros) {
                    let resultados = libros.libros.length;
                    if (resultados > 0) {
                        $("#myModal").modal("hide");
                        cargando.innerHTML = `<h3 class="text-center">Se obtuvieron ${resultados} resultados de tu busqueda</h3>`;
                        container.innerHTML = `<h2 class="text-center all-tittles">Resultados</h2>
              <div class="table-responsive">
                  <div class="div-table" style="margin:0 !important;">
                      <div class="div-table-row div-table-row-list" style="background-color:#DFF0D8; font-weight:bold;">
                          <div class="div-table-cell" style="width: 6%;">#</div>
                          <div class="div-table-cell" style="width: 10%;">Titulo</div>
                          <div class="div-table-cell" style="width: 10%;">Tipo libro</div>
                          <div class="div-table-cell" style="width: 8%;">Autor</div>
                          
                          <div class="div-table-cell" style="width: 6%;">Ver</div>
                          <div class="div-table-cell" style="width: 6%;"> 
                          Reservar</div>
                      </div>
              </div>`;
                        for (var i = 0; i < libros.libros.length; i++) {

                            container.insertAdjacentHTML('beforeend', `
          <div class="table-responsive" id="${libros.libros[i].cota}0">
                  <div class="div-table" style="margin:0 !important;">
                      <div class="div-table-row div-table-row-list">
                          <div  class="div-table-cell" style="width: 6%;">${i + 1}</div>
                          <div  class="div-table-cell" style="width: 10%;">${libros.libros[i].titulo}</div>
                          <div  class="div-table-cell" style="width: 10%;">${libros.libros[i].tipo_l}</div>
                          
                          <div class="div-table-cell" style="width: 8%;">${libros.libros[i].autor}</div>
                          
                         
                          <div class="div-table-cell" style="width: 6%;">
                              
                              <button class="btn btn-info"  onclick="javascript:ver('${libros.libros[i].cota}')" if ><i class="zmdi zmdi-file-text"></i></button>
                          
                          </div>
                          <div class="div-table-cell" style="width: 6%;">
                              
                            <button class="btn btn-success" id="${libros.libros[i].cota}" onclick="javascript:reservarLibro(this)"><i class="zmdi zmdi-timer"></i></button>
  
                           
                          </div>
                      </div>
                  </div>
              </div>`);

                            if (libros.libros[i].estado_l === 'no disponible') {
                                let q = "button#" + libros.libros[i].cota;
                                añadirAtt(q);
                            };
                        }

                        document.getElementsByTagName("button")[1].focus({ preventScroll: true });
                    } else {
                        cargando.innerHTML = '<h3 class="text-center">No se obtuvieron resultados</h3>';
                    }
                })
                .fail(function (error) {
                    manejoErrores(error);
                });


        } else {

            var formatoLinea = document.getElementById("formato-enlinea");
            formatoLinea.style.display = "block";
            $("div#container").html('');
            var cargando = document.getElementById("cargando");
            cargando.innerHTML = '';
        }
    };

    function seccionReservar() {
        var ocultar = document.getElementById("ocultar");
        var seccion = document.getElementById("seccion");
        var explicacion = document.getElementById("explicacion");
        var tabla = document.getElementById("tabla");
        var inicio = document.getElementById("inicio");
        var container = document.getElementById("container");
        var cargando = document.getElementById("cargando");
        var formatoEnLinea = document.getElementById("formato-enlinea");
        var busquedaC = document.getElementById("busquedaC");
        var accordion = document.getElementById("accordion");
        var formatoEnLineaDos = document.getElementById("formato-enlinea-dos");
        formatoEnLineaDos.style.display = 'none';
        accordion.style.display = 'none';
        var isChecked = ocultar.checked;
        if (isChecked) {
            ocultar.click();
        }

        seccion.innerHTML = `<div class="page-header">
        <h1 class="all-tittles">UNEXPO SBDIP <small>Reservar</small></h1>
      </div>`;
        explicacion.innerHTML = `
        <div class="row">

<div class="col-xs-12 col-sm-4 col-md-3">
  <img src="/assets/icons/busqueda.ico" alt="pdf" class="img-responsive center-box" style="max-width: 110px;">
</div>
<div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
  Bienvenido en esta sección podrás reservar uno o varios libros. Solo estan habilitados los que se encuentran
  disponibles físicamente.
</div>
</div>`;
        busquedaC.style.display = 'block';
        formatoEnLinea.style.display = 'block';
        inicio.style.display = 'none';
        cargando.innerHTML = '';
        container.innerHTML = '';
        explicacion.style.display = 'block';
    
        $("div#enlaces").html(`
            <ul class="nav nav-tabs nav-justified" style="font-size: 17px;">
                <li id="rreservar" class="active"><a href="javascript:seccionReservar()">Reservar</a></li>
                <li id="misR"><a href="javascript:seccionMisR()">Mis reservaciones</a></li>
                <li id="misP"><a href="javascript:seccionMisP()">Mis préstamos</a></li>
            </ul>`);
            $("li#rreservar").addClass("active");
        $("li#misP").removeClass("active");
        $("li#misR").removeClass("active");
        $("#enlaces").show();

    };
    function seccionInicio() {
    var seccion = document.getElementById("seccion");
    var explicacion = document.getElementById("explicacion");
    var enlaces = document.getElementById("enlaces");
    var container = document.getElementById("container");
    var cargando = document.getElementById("cargando");
    var busquedaC = document.getElementById("busquedaC");
    var formatoEnLinea = document.getElementById("formato-enlinea");
    var accordion = document.getElementById("accordion");
    var inicio = document.getElementById("inicio");
    var formatoEnLineaDos = document.getElementById("formato-enlinea-dos");
    var cuadronot = document.getElementById("cuadronot");
    cuadronot.style.display = 'block';
    formatoEnLineaDos.style.display = 'none';
    inicio.style.display = 'block'
 
    accordion.style.display = 'none';
    formatoEnLinea.style.display = 'none';
    busquedaC.style.display = 'none'
    enlaces.style.display = 'none';
    seccion.innerHTML = ` <div class="page-header">
                <h1 class="all-tittles">
                    UNEXPO SBDIP <small>Inicio</small>
                </h1>
            </div>`;
    explicacion.style.display = 'none';
   
    cargando.innerHTML = '';
    container.innerHTML = '';
    mostrarNoticias();

  };


    function seccionMisR() {
        $.ajax({
            beforeSend: function () {
                $("#modal-p-center").html(` <img src="/assets/gif/loading-22.gif" width="100" height="100" />`);
                $("#myModal").modal("show");
            },
            url: '/usuario/mis-reservas',
            type: 'GET'
        })
            .done(function (res) {
                let fechaActual = new Date();
                $("div#cargando").html('');
                $("div#seccion").html(` 
            <div class="page-header">
        <h1 class="all-tittles">UNEXPO SBDIP <small>Mis reservaciones</small></h1>
      </div>`);
                $("div#explicacion").html(`<div class="row">

<div class="col-xs-12 col-sm-4 col-md-3">
  <img src="/assets/img/calendar.png" alt="pdf" class="img-responsive center-box" style="max-width: 110px;">
</div>
<div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
    Bienvenido en esta sección podrás ver las reservaciones que tienes activas.
  Si hiciste una reservacion y nunca la concretaste, esta será eliminada automaticamente.
</div>
</div>`);
                $("form#formato-enlinea").hide();
                $("div#busquedaC").hide();
                $("#explicacion").show();
                $("#accordion").hide();
                $("form#formato-enlinea-dos").hide();
                $("#cuadronot").hide();
                $("div#inicio").hide();
             $("div#enlaces").show();
    
      
            $("div#enlaces").html(`
            <ul class="nav nav-tabs nav-justified" style="font-size: 17px;">
                <li id="rreservar" ><a href="javascript:seccionReservar()">Reservar</a></li>
                <li id="misR" class="active" ><a href="javascript:seccionMisR()">Mis reservaciones</a></li>
                <li id="misP"><a href="javascript:seccionMisP()">Mis préstamos</a></li>
            </ul>`);
            $("li#misP").removeClass("active");
        $("li#misR").addClass("active");
        $("li#rreservar").removeClass("active");
        $("#container").show();
         
     
                $("#myModal").modal("hide");
                if (res.fichas.length > 0) {

                    $("div#container").html(`
                 
                <h2 class="text-center all-tittles">Mis reservaciones</h2>
                <div class="table-responsive">
                    <div class="div-table" style="margin:0 !important;">
                        <div class="div-table-row div-table-row-list" style="background-color:#DFF0D8; font-weight:bold;">
                            <div class="div-table-cell" style="width: 3%;">#</div>
                            <div class="div-table-cell" style="width: 15%;">Cota</div>
                           <div class="div-table-cell" style="width: 10%;">F. Retiro</div>
                            <div class="div-table-cell" style="width: 10%;">F. Devolución</div>
                            
                            <div class="div-table-cell" style="width: 8%;">Info. Libro</div>
                            <div class="div-table-cell" style="width: 10%;">Eliminar</div>
                            
                            
                        </div>
                    </div>
                </div>
                `);

                    for (var i = 0; i < res.fichas.length; i++) {
                        $("div#container").append(`
                        <div class="table-responsive" id="tab_${res.fichas[i].cota_f
                            }">
                    <div class="div-table" style="margin:0 !important;">
                        <div class="div-table-row div-table-row-list">
                            <div class="div-table-cell" style="width: 3%;">${1 + i
                            }</div>
                            <div class="div-table-cell" style="width: 15%;">${res.fichas[i].cota_f
                            }</div> 
                            <div class="div-table-cell"  style="width: 10%;">${res.fichas[i].fecha_e
                            } </div>
                            <div class="div-table-cell"  style="width: 10%;" id="fecha-d${res.fichas[i].cota_f}">${res.fichas[i].fecha_d
                            } </div>
                            
                            <div class="div-table-cell" style="width: 8%;">
                                <button class="btn btn-info" onclick="ver('${res.fichas[i].cota_f}')"><i class="zmdi zmdi-file-text"></i></button>
                            </div>
                            <div class="div-table-cell"  style="width: 10%;">
                                <button class="btn btn-danger" onclick="eliminarFicha('${res.fichas[i].cota_f}')"><i class="zmdi zmdi-delete"></i></button></div>
                            
                            
                        </div>
                    </div>
                </div> `);
                        

                    }
                } else {

                    $("div#container").html(`
                            <div class="container-fluid">
                    <h3 class="text-center all-tittles">No hay reservaciones </h3>
                </div>
          
                            `);
                }
            })
            .fail(function (error) {

               manejoErrores(error);

            });


    };

    function seccionMisP() {
        $.ajax({
            beforeSend: function () {
                $("#modal-p-center").html(` <img src="/assets/gif/loading-22.gif" width="100" height="100" />`);
                $("#myModal").modal("show");
            },
            url: '/usuario/mis-prestamos',
            type: 'GET'
        })
            .done(function (res) {
                $("div#cargando").html('');
                
                $("form#formato-enlinea-dos").hide();
                $("div#seccion").html(` 
            <div class="page-header">
        <h1 class="all-tittles">UNEXPO SBDIP <small>Mis préstamos</small></h1>
      </div>`);
                $("div#explicacion").html(`<div class="row">

<div class="col-xs-12 col-sm-4 col-md-3">
  <img src="/assets/img/calendar_book.png" alt="pdf" class="img-responsive center-box" style="max-width: 110px;">
</div>
<div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
    Bienvenido en esta sección podrás ver los préstamos que tienes activos hasta la fecha actual.
</div>
</div>`);
                $("form#formato-enlinea").hide();
                $("div#busquedaC").hide();
                $("div#inicio").hide();
                $("#explicacion").show();
                $("#accordion").hide();
                $("#cuadronot").hide();
                $("div#enlaces").html(`
            <ul class="nav nav-tabs nav-justified" style="font-size: 17px;">
                <li id="rreservar" class="active"><a href="javascript:seccionReservar()">Reservar</a></li>
                <li id="misR"><a href="javascript:seccionMisR()">Mis reservaciones</a></li>
                <li id="misP"><a href="javascript:seccionMisP()">Mis préstamos</a></li>
            </ul>`);
            $("li#misP").addClass("active");
        $("li#misR").removeClass("active");
        $("li#rreservar").removeClass("active");
$("#enlaces").show();
$("#container").show();

                $("#myModal").modal("hide");
                if (res.fichas.length > 0) {
                    $("div#container").html(`
         
        <h2 class="text-center all-tittles">Mis préstamos</h2>
        <div class="table-responsive">
            <div class="div-table" style="margin:0 !important;">
                <div class="div-table-row div-table-row-list" style="background-color:#DFF0D8; font-weight:bold;">
                    <div class="div-table-cell" style="width: 3%;">#</div>
                    <div class="div-table-cell" style="width: 15%;">Cota</div>
                    <div class="div-table-cell" style="width: 8%;">Título</div>
                    <div class="div-table-cell" style="width: 8%;">Autor</div>
                    <div class="div-table-cell" style="width: 10%;">F. Solicitud</div>
                    <div class="div-table-cell" style="width: 10%;">F. Entrega</div>
                    
                    <div class="div-table-cell" style="width: 8%;">Info. Libro</div>
                </div>
            </div>
        </div>
        `);

                    for (var i = 0; i < res.fichas.length; i++) {
                        var cota = res.fichas[i].cota_f;
                        $("div#container").append(`
                <div class="table-responsive" >
            <div class="div-table" style="margin:0 !important;">
                <div class="div-table-row div-table-row-list">
                    <div class="div-table-cell" style="width: 3%;">${1 + i
                            }</div>
                    <div class="div-table-cell" style="width: 15%;">${res.fichas[i].cota_f
                            }</div> 
                    <div class="div-table-cell" style="width: 8%;">${res.titulo[i]
                            }</div>
                    <div class="div-table-cell" style="width: 8%;">${res.autor[i]
                            }</div>
                             <div class="div-table-cell"  style="width: 10%;">${res.fichas[i].fecha_e
                            } </div>
                    <div class="div-table-cell" id="fecha-d${res.fichas[i].cota_f}" style="width: 10%;">${res.fichas[i].fecha_d
                            }</div>
                    <div class="div-table-cell" style="width: 8%;">
                        <button class="btn btn-info" onclick="ver('${res.fichas[i].cota_f
                            }')"><i class="zmdi zmdi-file-text"></i></button>
                    </div>
                </div>
            </div>
        </div> `);
        if ( res.fichas[i].fecha_d > new Date()) {
             sobresaltarFecha(res, i);
        }
                       
                    }
                } else {
                    $("div#container").html(`
                    <div class="container-fluid">
            <h3 class="text-center all-tittles">No hay préstamos </h3>
        </div>
  
                    `);
                }
            })
            .fail(function (error) {

              manejoErrores(error);

            });


    };
    function seccionLibros() {
        $.ajax({
            beforeSend: function () {
                $("modal-p-center").html(` <img src="/assets/gif/loading-22.gif" width="100" height="100" />`);
                $("#myModal").modal("show");
            },
            url: '/libros',
            type: 'GET'
        })
            .done(function (res) {
                $("div#cargando").html('');
                $("div#myModal").modal('hide');
                
                $("div#container").show();
                $("#accordion").hide();
                $("div#enlaces").hide();
                     $("div#seccion").html(` 
            <div class="page-header">
        <h1 class="all-tittles">UNEXPO SBDIP <small>Catálogo <small>Libros</small></small></h1>
      </div>`);
                $("div#explicacion").html(`<div class="row">

<div class="col-xs-12 col-sm-4 col-md-3">
    <img src="/assets/icons/libro_abierto.ico" alt="pdf" class="img-responsive center-box" style="max-width: 110px;">
</div>
<div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
    Bienvenido en esta sección podrás ver todos los libros y también aplicar los filtros que requieras, en cuanto a cota, título, autor, tutor, volumén, año y editorial respectivamente.
</div>
</div>`);
               $("form#formato-enlinea").hide();
               $("form#formato-enlinea-dos").show();
               $("div#explicacion").show();
                $("div#busquedaC").hide();
                $("input#tipo_libro").attr("value", "Libro");
                $("div#inicio").hide();
                if (res.libros.length > 0) {
                    $("div#container").html(`
         
        <h2 class="text-center all-tittles">Mis libros</h2>
        <div class="table-responsive">
            <div class="div-table" style="margin:0 !important;">
                <div class="div-table-row div-table-row-list" style="background-color:#DFF0D8; font-weight:bold;">
                    <div class="div-table-cell" style="width: 3%;">#</div>
                    <div class="div-table-cell" style="width: 15%;">Cota</div>
                    <div class="div-table-cell" style="width: 8%;">Título</div>
                    <div class="div-table-cell" style="width: 8%;">Autor</div>
                    <div class="div-table-cell" style="width: 10%;">Volumen</div>
                    <div class="div-table-cell" style="width: 10%;">Año</div>
                    
                    <div class="div-table-cell" style="width: 8%;">Info. Libro</div>
                </div>
            </div>
        </div>
        `);

                    for (var i = 0; i < res.libros.length; i++) {
                        var cota = res.libros[i].cota;
                        $("div#container").append(`
                <div class="table-responsive" >
            <div class="div-table" style="margin:0 !important;">
                <div class="div-table-row div-table-row-list">
                    <div class="div-table-cell" style="width: 3%;">${1 + i
                            }</div>
                    <div class="div-table-cell" style="width: 15%;">${res.libros[i].cota
                            }</div> 
                    <div class="div-table-cell" style="width: 8%;">${res.libros[i].titulo
                            }</div>
                    <div class="div-table-cell" style="width: 8%;">${res.libros[i].autor
                            }</div>
                             <div class="div-table-cell"  style="width: 10%;">${res.libros[i].volumen
                            } </div>
                    <div class="div-table-cell" style="width: 10%;">${res.libros[i].año
                            }</div>
                    <div class="div-table-cell" style="width: 8%;">
                        <button class="btn btn-info" onclick="ver('${res.libros[i].cota
                            }')"><i class="zmdi zmdi-file-text"></i></button>
                    </div>
                </div>
            </div>
        </div> `);

                    }
                } else {
                    $("div#container").html(`
                    <div class="container-fluid">
            <h3 class="text-center all-tittles">No se encontraron resultados </h3>
        </div>
  
                    `);
                }
            })
            .fail(function (error) {
                manejoErrores(error);

            });


    }
    function seccionTrabajoG() {
        $.ajax({
            beforeSend: function () {
                $("modal-p-center").html(` <img src="/assets/gif/loading-22.gif" width="100" height="100" />`);
                $("#myModal").modal("show");
            },
            url: '/trabajo',
            type: 'GET'
        })
            .done(function (res) {
                $("div#cargando").html('');
                $("div#myModal").modal('hide');
                
                $("div#container").show();
                  $("#accordion").hide();
                $("div#enlaces").hide();
                     $("div#seccion").html(` 
            <div class="page-header">
        <h1 class="all-tittles">UNEXPO SBDIP <small>Catálogo <small>Trabajos de grado</small></small></h1>
      </div>`);
                $("div#explicacion").html(`<div class="row">

<div class="col-xs-12 col-sm-4 col-md-3">
    <img src="/assets/icons/libro_abierto.ico" alt="pdf" class="img-responsive center-box" style="max-width: 110px;">
</div>
<div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
    Bienvenido en esta sección podrás ver todos los libros y también aplicar los filtros que requieras, en cuanto a cota, título, autor, tutor, volumén, año y editorial respectivamente.
</div>
</div>`);
               $("form#formato-enlinea").hide();
               $("form#formato-enlinea-dos").show();
               $("div#explicacion").show();
                $("div#busquedaC").hide();
                $("input#tipo_libro").attr("value", "Trabajo de grado");
                $("div#inicio").hide();
                if (res.libros.length > 0) {
                    $("div#container").html(`
         
        <h2 class="text-center all-tittles">Mis trabajos de grado</h2>
        <div class="table-responsive">
            <div class="div-table" style="margin:0 !important;">
                <div class="div-table-row div-table-row-list" style="background-color:#DFF0D8; font-weight:bold;">
                    <div class="div-table-cell" style="width: 3%;">#</div>
                    <div class="div-table-cell" style="width: 15%;">Cota</div>
                    <div class="div-table-cell" style="width: 8%;">Título</div>
                    <div class="div-table-cell" style="width: 8%;">Autor</div>
                    <div class="div-table-cell" style="width: 10%;">Volumen</div>
                    <div class="div-table-cell" style="width: 10%;">Año</div>
                    
                    <div class="div-table-cell" style="width: 8%;">Info. Libro</div>
                </div>
            </div>
        </div>
        `);

                    for (var i = 0; i < res.libros.length; i++) {
                        var cota = res.libros[i].cota;
                        $("div#container").append(`
                <div class="table-responsive" >
            <div class="div-table" style="margin:0 !important;">
                <div class="div-table-row div-table-row-list">
                    <div class="div-table-cell" style="width: 3%;">${1 + i
                            }</div>
                    <div class="div-table-cell" style="width: 15%;">${res.libros[i].cota
                            }</div> 
                    <div class="div-table-cell" style="width: 8%;">${res.libros[i].titulo
                            }</div>
                    <div class="div-table-cell" style="width: 8%;">${res.libros[i].autor
                            }</div>
                             <div class="div-table-cell"  style="width: 10%;">${res.libros[i].volumen
                            } </div>
                    <div class="div-table-cell" style="width: 10%;">${res.libros[i].año
                            }</div>
                    <div class="div-table-cell" style="width: 8%;">
                        <button class="btn btn-info" onclick="ver('${res.libros[i].cota
                            }')"><i class="zmdi zmdi-file-text"></i></button>
                    </div>
                </div>
            </div>
        </div> `);

                    }
                } else {
                    $("div#container").html(`
                    <div class="container-fluid">
            <h3 class="text-center all-tittles">No se encontraron resultados </h3>
        </div>
  
                    `);
                }
            })
            .fail(function (error) {
                manejoErrores(error);

            });


    }
    function seccionRevista() {
        $.ajax({
            beforeSend: function () {
                $("modal-p-center").html(` <img src="/assets/gif/loading-22.gif" width="100" height="100" />`);
                $("#myModal").modal("show");
            },
            url: '/revista',
            type: 'GET'
        })
            .done(function (res) {
                $("div#cargando").html('');
                $("div#myModal").modal('hide'); 
                 $("#accordion").hide();
                $("div#enlaces").hide();
                     $("div#seccion").html(` 
            <div class="page-header">
        <h1 class="all-tittles">UNEXPO SBDIP <small>Catálogo <small>Revistas</small></small></h1>
      </div>`);
                $("div#explicacion").html(`<div class="row">

<div class="col-xs-12 col-sm-4 col-md-3">
    <img src="/assets/icons/libro_abierto.ico" alt="pdf" class="img-responsive center-box" style="max-width: 110px;">
</div>
<div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
    Bienvenido en esta sección podrás ver todos los libros y también aplicar los filtros que requieras, en cuanto a cota, título, autor, tutor, volumén, año y editorial respectivamente.
</div>
</div>`);
               $("form#formato-enlinea").hide();
               $("form#formato-enlinea-dos").show();
               $("div#explicacion").show();
                $("div#busquedaC").hide();
                $("input#tipo_libro").attr("value", "Revista");
                $("div#inicio").hide();
                $("div#container").show();
                if (res.libros.length > 0) {
                    $("div#container").html(`
         
        <h2 class="text-center all-tittles">Mis revistas</h2>
        <div class="table-responsive">
            <div class="div-table" style="margin:0 !important;">
                <div class="div-table-row div-table-row-list" style="background-color:#DFF0D8; font-weight:bold;">
                    <div class="div-table-cell" style="width: 3%;">#</div>
                    <div class="div-table-cell" style="width: 15%;">Cota</div>
                    <div class="div-table-cell" style="width: 8%;">Título</div>
                    <div class="div-table-cell" style="width: 8%;">Autor</div>
                    <div class="div-table-cell" style="width: 10%;">Volumen</div>
                    <div class="div-table-cell" style="width: 10%;">Año</div>
                    
                    <div class="div-table-cell" style="width: 8%;">Info. Libro</div>
                </div>
            </div>
        </div>
        `);

                    for (var i = 0; i < res.libros.length; i++) {
                        var cota = res.libros[i].cota;
                        $("div#container").append(`
                <div class="table-responsive" >
            <div class="div-table" style="margin:0 !important;">
                <div class="div-table-row div-table-row-list">
                    <div class="div-table-cell" style="width: 3%;">${1 + i
                            }</div>
                    <div class="div-table-cell" style="width: 15%;">${res.libros[i].cota
                            }</div> 
                    <div class="div-table-cell" style="width: 8%;">${res.libros[i].titulo
                            }</div>
                    <div class="div-table-cell" style="width: 8%;">${res.libros[i].autor
                            }</div>
                             <div class="div-table-cell"  style="width: 10%;">${res.libros[i].volumen
                            } </div>
                    <div class="div-table-cell" style="width: 10%;">${res.libros[i].año
                            }</div>
                    <div class="div-table-cell" style="width: 8%;">
                        <button class="btn btn-info" onclick="ver('${res.libros[i].cota
                            }')"><i class="zmdi zmdi-file-text"></i></button>
                    </div>
                </div>
            </div>
        </div> `);

                    }
                } else {
                    $("div#container").html(`
                    <div class="container-fluid">
            <h3 class="text-center all-tittles">No se encontraron resultados </h3>
        </div>
  
                    `);
                }
            })
            .fail(function (error) {
                manejoErrores(error);

            });


    }
   
    function seccionPreguntas() {
        $("div#cargando").html('');
        $("form#formato-enlinea-dos").hide();
        $("div#enlaces").hide();
        $("div#seccion").html(` 
            <div class="page-header">
        <h1 class="all-tittles">UNEXPO SBDIP <small>Preguntas frecuentes</small></h1>
      </div>`);
        $("div#explicacion").hide();
        $("form#formato-enlinea").hide();
        $("div#busquedaC").hide();
        $("div#inicio").hide();
        $("div#accordion").show();
        $("div#container").hide();
        mostrarPreguntas();
    }

</script>
<body>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-sm">
          <div class="modal-content" style="background-color: transparent">
            <div id="modal-contenido">
              <br />
              <p class="text-center" id="modal-p-center">
                <img src="/assets/gif/loading-22.gif" width="100" height="100" />
              </p>
            </div>
          </div>
        </div>
      </div>
      <div id="myModal2" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div id="modal-body-2" class="modal-body">
    
            </div>
          </div>
        </div>
      </div>
    <div id="myModal4" class="modal fade">
        <div class="modal-dialog">
            <div class="container-fluid">
                <div class="modal-content">
                    <div class="modal-header-sm" style="background:rgb(45, 101, 206);">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myLabel"
                            style="font-size: 25px; font-weight:900; text-align: center; color: white;">Modal title</h4>
                    </div>
                    <div class="modal-body" id="modal-body-4">






                    </div>

                </div>



            </div>

        </div>
    </div>
    <div id="myModal6" class="modal fade">
        <div class="modal-dialog">
            <div class="container-fluid">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div>
                        <p class="text-center" id="modal-p-center6">Se ha reservado exitosamente</p>

                        


                    </div>

                </div>



            </div>

        </div>
    </div>
    <div id="myModal3" class="modal fade">
        <div class="modal-dialog">
            <div class="container-fluid">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div>
                        <p class="text-center">Has llegado al límite de libros permitidos para reservar</p>




                    </div>

                </div>



            </div>

        </div>
    </div>
    <div id="myModal7" class="modal fade">
        <div class="modal-dialog">
            <div class="container-fluid">
                <div class="modal-content">
                    <div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <!--  <h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
                    </div>
                    <div>
                        <iframe id="pdfdoc" height="400" width="100%" src='' ></iframe>


                    </div>

                </div>



            </div>

        </div>
    </div>
    <div id="myModal5" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="background-color: transparent">
                <div>
                    <br />
                    <p class="text-center" id="modal-p-center">
                        <img src="/assets/gif/loading-22.gif" width="100" height="100" />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalError" class="modal fade">
        <div class="modal-dialog">
          <div class="container-fluid">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  &times;
                </button>
              </div>
              <div id="modal-cuerpo">
    
    
    
    
              </div>
            </div>
    
          </div>
        </div>
      </div>
      <% if (usuarioL.tipo_u == 'estudiante' || usuarioL.tipo_u == 'docente') { %>
    <%- include ("partes/navegacionUsuario") %>
    <% } else { %>
        <%- include ("partes/navegacionInicio") %>
        <% } %>

    <div class="content-page-container full-reset custom-scroll-containers">
        <%- include ("partes/navegacionSuperiorUsuario") %>

        <div class="container" id="seccion" style="margin: 0%;">
            <div class="page-header">
                <h1 class="all-tittles">
                    UNEXPO DIP <small>Inicio</small>
                </h1>
            </div>
        </div>
        <div class="container-fluid" id="enlaces">
        </div>
        <div class="container-fluid" id="explicacion" style="margin: 0%;">
        </div>
    

     <div class="container-fluid" id="tabla">    
        <div class="container-fluid" id="inicio">
          
            
    
            <div id="cuadronot">
    
    
    
            </div>
    
          </div>


            <div class="page-header" style="border: none; margin: 0%;" id="busquedaC">
                <h2 class="text-center" style="background-color:rgb(217, 217, 226) ;">¿Buscas un libro en particular?
                </h2>
                <div class="group-material">
                    <p class="text-center"> <input onchange="ocultarCampos(this)" id="ocultar" name="ocultar"
                            type="checkbox" value="1" class="tooltips-general"
                            title="no, quiero ver todos los libros">No, quiero ver todos los libros
                    </p>
                </div>
            </div>
            <br>
            <div class="container-fluid"><form class="form-inline" style="text-align:center; " id="formato-enlinea">
                <div class="row justify-content-md-center">
                    <div class="col-sm-4 col-md-2">
                        <input id="cota_unica" name="cota" type="text" class="tooltips-general material-control"
                        placeholder="Cota"  maxlength="25" pattern="(^([a-zA-Zá-ú0-9]{1,})(_)?([a-zA-Zá-ú0-9]{1,})$)|^([a-zA-Zá-ú0-9]{1,})$" data-toggle="tooltip" data-placement="top"
                        title="Ej. cota_1, cota 1">
                        <label >Cota</label>
                    </div>
                    <div class="col-sm-4 col-md-2">
                        <select onchange="añadirTutor(this)" id="tipo_l_unico" name="tipo_l"
                        class="tooltips-general material-control" data-toggle="tooltip" data-placement="top"
                        title="Elige la categoría del libro">
                        <option disabled="" selected="">Tipo de libro</option>
                        <option>Libro</option>
                        <option>Revista</option>
                        <option>Trabajo de grado</option>

                    </select>
                    <label > </label>
                    </div>
                    <div class="col-sm-4 col-md-2"> 
                        <input id="ejemplar_unico" name="ejemplar" type="number"
                        class="tooltips-general material-control" placeholder="Ejemplar" maxlength="4"
                        data-toggle="tooltip" pattern="^[0-9]+" min="1" data-placement="top"
                        title="Número de ejemplares, solo números">
                        <label >Ejemplar</label>
                    </div>
                    <div class="col-sm-4 col-md-2">
                        <input id="titulo_unico" name="titulo" type="text" class="tooltips-general material-control"
                        placeholder="Título" pattern="[a-zA-Zá-ú ]{1,30}" maxlength="30" data-toggle="tooltip"
                        data-placement="top" title="Escribe el título del libro, sólo letras">
                        <label >Título</label>
                    </div>
                    <div class="col-sm-4 col-md-2">
                        <input id="autor_unico" name="autor" type="text" class="tooltips-general material-control"
                        placeholder="Autor" pattern="[a-zA-Zá-ú ]{1,30}" maxlength="30" data-toggle="tooltip"
                        data-placement="top" title="Escribe el nombre del autor del libro, sólo letras">
                        <label >Autor</label>
                    </div>
                     
                    <div class="col-sm-4 col-md-2" id="div-contenedor">

                         <input id="tutor_unico" name="tutor" type="text" class="tooltips-general material-control"
                        placeholder="Tutor" ppattern="[a-zA-Zá-ú ]{1,30}" maxlength="30" data-toggle="tooltip"
                        data-placement="top" title="Escribe el nombre del tutor, sólo letras">
                        <label >Tutor</label>
                    </div>
                
                <div class="col-sm-4 col-md-2"> 
                    <input id="volumen_unico" name="volumen" type="number" class="tooltips-general material-control"
                    placeholder="Volumen" maxlength="50" pattern="^[0-9]+" min="1" data-toggle="tooltip"
                    data-placement="top" title="Escribe el volumen del libro">
                    <label >Volumen</label>
                </div>
                    <div class="col-sm-4 col-md-2">  
                        <input id="año_unico" name="año" type="text" class="material-control tooltips-general"
                        placeholder="Año" pattern="[0-9]{4}" maxlength="4" data-toggle="tooltip" minlength="4"
                        data-placement="top" title="Solamente números, sin espacios y en formato xxxx">
                        <label >Año</label>
                    </div>
                        <div class="col-sm-4 col-md-2">
                            <input id="editorial_unico" name="editorial" type="text"
                            class="material-control tooltips-general" placeholder="Editorial" pattern="[a-zA-Zá-ú ]{1,30}" maxlength="30" data-toggle="tooltip" data-placement="top" title="Editorial del libro, sólo letras">
                            <label >Editorial</label>
                        </div>
                        <div class="col-sm-4 col-md-2">
                          
                            <button id="limpiarButton" style="margin-block: 10px;" type="reset" class="btn btn-light">Limpiar</button>
                        </div>
                        
                    </div>
            </form></div>
            <div class="container-fluid"><form class="form-inline" style="text-align:center; " id="formato-enlinea-dos">
                <div class="row justify-content-md-center">
                    <div class="col-sm-4 col-md-2">
                        <input id="cota_unica" name="cota" type="text" class="tooltips-general material-control"
                        placeholder="Cota" maxlength="25" pattern="^([a-zA-Zá-ú0-9 ]{1,})(_)?([a-zA-Zá-ú0-9]{1,})$" data-toggle="tooltip" data-placement="top"
                        title="Ej. cota_1, cota 1">
                        <label>Cota</label>
                    </div>
                    <div class="col-sm-4 col-md-2">
                        
                    <input id="tipo_libro" name="tipo_l" type="text" class="tooltips-general material-control"
                        placeholder="Tipo de libro" maxlength="25" data-toggle="tooltip" data-placement="top"
                        title="EL tipo de libro" readonly>
                        <label> </label>
                    </div>
                    <div class="col-sm-4 col-md-2"> 
                        <input id="ejemplar_unico" name="ejemplar" type="number"
                        class="tooltips-general material-control" placeholder="Ejemplar" maxlength="4"
                        data-toggle="tooltip" pattern="^[0-9]+" min="1" data-placement="top"
                        title="Solo números">
                        <label>Ejemplar</label>
                    </div>
                    <div class="col-sm-4 col-md-2">
                        <input id="titulo_unico" name="titulo" type="text" class="tooltips-general material-control"
                        placeholder="Título"  maxlength="30" data-toggle="tooltip"
                        data-placement="top" pattern="[a-zA-Zá-u ]{1,30}" title="Escribe el título o nombre del libro">
                        <label>Título</label>
                    </div>
                    <div class="col-sm-4 col-md-2">
                        <input id="autor_unico" name="autor" type="text" class="tooltips-general material-control"
                        placeholder="Autor" pattern="[a-zA-Zá-u ]{1,30}"maxlength="30" data-toggle="tooltip"
                        data-placement="top" title="Escribe el nombre del autor del libro">
                        <label>Autor</label>
                    </div>
                     
                    <div class="col-sm-4 col-md-2" id="div-contenedor">

                         <input id="tutor_unico" name="tutor" type="text" class="tooltips-general material-control"
                        placeholder="Tutor" pattern="[a-zA-Zá-u ]{1,30}" maxlength="30" data-toggle="tooltip"
                        data-placement="top" title="Escribe el nombre del tutor del libro">
                        <label>Tutor</label>
                    </div>
                
                <div class="col-sm-4 col-md-2"> 
                    <input id="volumen_unico" name="volumen" type="number" class="tooltips-general material-control"
                    placeholder="Volumen" maxlength="50" pattern="^[0-9]+" min="1" data-toggle="tooltip"
                    data-placement="top" title="Solo números">
                    <label>Volumen</label>
                </div>
                    <div class="col-sm-4 col-md-2">  
                        <input id="año_unico" name="año" type="text" class="material-control tooltips-general"
                        placeholder="Año" pattern="[0-9]{4}" maxlength="4" data-toggle="tooltip" minlength="4"
                        data-placement="top" title="Solamente números, 4 dígitos">
                        <label>AÑo</label>
                    </div>
                        <div class="col-sm-4 col-md-2">
                            <input id="editorial_unico" name="editorial" type="text"
                            class="material-control tooltips-general" placeholder="Editorial" pattern="[a-zA-Zá-u ]{1,30}"
                            maxlength="30" data-toggle="tooltip" data-placement="top" title="Editorial del libro">
                            <label>Editorial</label>
                        </div>
                        <div class="col-sm-4 col-md-2">
                          
                            <button id="limpiarButton" style="margin-block: 10px;" type="reset" class="btn btn-light">Limpiar</button>
                        </div>
                    
                    </div>
            </form></div>
          
            <div class="container-fluid">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                </div>
            </div>
           <div id="cargando"></div>
            <div class="container-fluid" id="container"> </div> 
    </div>
        <%- include ("partes/piePagina") %>
    </div>


</body>

</html>