<%- include ("partes/cabecera") %>

<body>
    
    <%- include ("partes/navegacionTecnico") %>
    <div class="content-page-container full-reset custom-scroll-containers">
        <%- include ("partes/navegacionSuperiorTecnico") %>
        <div class="container">
            <div class="page-header">
              <h1 class="all-tittles">Sistema bibliotecario <small>préstamos y reservaciones</small></h1>
            </div>
        </div>
        <div class="conteiner-fluid">
            <ul class="nav nav-tabs nav-justified"  style="font-size: 17px;">
                <li><a href="loan.html">Todos los préstamos</a></li>
                <li class="active"><a href="loanpending.html">Devoluciones pendientes</a></li>
                <li><a href="loanreservation.html">Reservaciones</a></li>
            </ul>
        </div>
        <div class="container-fluid"  style="margin: 50px 0;">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <img src="/assets/img/clock.png" alt="calendar" class="img-responsive center-box" style="max-width: 110px;">
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
                    
                    bienvenido

                </div>
            </div>
        </div>
        <% if (fichas.length > 0) { %>
        <div class="container-fluid">
            <h2 class="text-center all-tittles">Listado de devoluciones pendientes</h2>
            
            <div class="table-responsive">
                <div class="div-table" style="margin:0 !important;">
                    <div class="div-table-row div-table-row-list" style="background-color:#DFF0D8; font-weight:bold;">
                        <div class="div-table-cell" style="width: 6%;">#</div>
                        <div class="div-table-cell" style="width: 22%;">Cota</div>
                        <div class="div-table-cell" style="width: 22%;">Correo</div>
                        <div class="div-table-cell" style="width: 10%;">F.Solicitud</div>
                        <div class="div-table-cell" style="width: 10%;">F. Devolucion</div>
                        <div class="div-table-cell" style="width: 10%;">Estado</div>
                        <div class="div-table-cell" style="width: 8%;">Recibir</div>
                        <div class="div-table-cell" style="width: 8%;">Ver Ficha</div>
                    </div>
                </div>
            </div>

           

            <% for ( var i=0; i < fichas.length; i++) { %>
               
            <div class="table-responsive">
                <div class="div-table" style="margin:0 !important;">
                    <div class="div-table-row div-table-row-list">
                        <div class="div-table-cell" style="width: 6%;"><%= 1+i %></div>
                        <div class="div-table-cell" style="width: 22%;"><%= fichas[i].cota_f %></div>
                        <div class="div-table-cell" style="width: 22%;">
                            <%= fichas[i].correo_f %></div>
                        <div class="div-table-cell" style="width: 10%;">
                            <%= fichas[i].fecha_e %></div>
                        <div class="div-table-cell" style="width: 10%;"><%= fichas[i].fecha_d %></div>
                        <div class="div-table-cell" style="width: 10%;"><%= fichas[i].estado_f %></div>
                        <div class="div-table-cell" style="width: 8%;">
                            <form method="POST" action='/cards/entregar?cota=<%= fichas[i].cota_f%>&correo=<%= fichas[i].correo_f%>&fecha_e=<%= fichas[i].fecha_e%>&_method=DELETE' onsubmit="return confirm('¿Estas seguro que deseas marcar como entregado?');">
                           <button class="btn btn-success"><i class="zmdi zmdi-time-restore"></i></button>
                            </form> 
                        </div>
                        <div class="div-table-cell" style="width: 8%;">
                            <form method="GET" action='/cards/card'>
                            <button class="btn btn-info" ><i class="zmdi zmdi-file-text"></i></button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
             
            <% } else  { %>
                <h2 class="text-center all-tittles">No existen prestamos pendientes por entregar</h2>
            <% } %>
    <%- include ("partes/piePagina") %>
</body>
</html>