

    <%- include ("partes/cabecera") %>
<body>
    
        <%- include ("partes/navegacionTecnico") %>
    
    <div class="content-page-container full-reset custom-scroll-containers">
        <%- include ("partes/navegacionSuperiorTecnico") %>
        <div class="container">
            <div class="page-header">
              <h1 class="all-tittles">Sistema bibliotecario <small>préstamos y reservaciones</small></h1>
            </div>
        </div>
        <div class="conteiner-fluid">
            <ul class="nav nav-tabs nav-justified"  style="font-size: 17px;">
                <li><a href="loan.html">Todos los préstamos</a></li>
                <li><a href="loanpending.html">Devoluciones pendientes</a></li>
                <li class="active"><a href="loanreservation.html">Reservaciones</a></li>
            </ul>
        </div>
         <div class="container-fluid" style="margin: 50px 0;">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <img src="/assets/img/calendar.png" alt="clock" class="img-responsive center-box" style="max-width: 110px;">
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
                    Bienvenido a esta sección, aquí se muestran las reservaciones de libros realizadas por los estudiantes, las cuales están pendientes por aprovacion.
                </div>
            </div>
        </div>
<% if (fichas.length > 0) { %>
        <div class="container-fluid">
            <h2 class="text-center all-tittles">Listado de reservaciones</h2>
            <div class="table-responsive">
                
                <div class="div-table" style="margin:0 !important;">
                    <div class="div-table-row div-table-row-list" style="background-color:#DFF0D8; font-weight:bold;">
                        <div class="div-table-cell" style="width: 3%;">#</div>
                        <div class="div-table-cell" style="width: 11%;">Cota</div>
                        <div class="div-table-cell" style="width: 20%;">Correo electronico</div>
                        <div class="div-table-cell" style="width: 8%;">Tipo</div>
                        <div class="div-table-cell" style="width: 12%;">F. Solicitud</div>
                        <div class="div-table-cell" style="width: 12%;">F. Devolucion</div>
                        <div class="div-table-cell" style="width: 10%;">Estado</div>
                        <div class="div-table-cell" style="width: 8%;">Aprobar</div>
                        <div class="div-table-cell" style="width: 8%;">Eliminar</div>
                    </div>
                </div>
            </div>
            <% for ( var i = 0; i < fichas.length; i++) { %>
            <div class="table-responsive">
                <div class="div-table" style="margin:0 !important;">
                    <div class="div-table-row div-table-row-list" >
                        <div class="div-table-cell" style="width: 3%;"><%= i+1 %></div>
                        <div class="div-table-cell" style="width: 11%;"><%= fichas[i].cota_f %></div>
                        <div class="div-table-cell" style="width: 22%;"><%= fichas[i].correo_f %></div>
                        <div class="div-table-cell" style="width: 12%;"><%= libros[i].tipo_l %></div>
                        <div class="div-table-cell" style="width: 12%;"><%= fichas[i].fecha_e %></div>
                        <div class="div-table-cell" style="width: 12%;"><input type="date" name="fecha_d" step="1" min="2013-01-01" max="2013-12-31" value=<%= fichas[i].fecha_e %>></div>
                        <div class="div-table-cell" style="width: 10%;"><%= fichas[i].estado_f %></div>
                        <div class="div-table-cell" style="width: 8%;">
                            <form method="POST" action='/cards/aprobar?cota_f=<%= fichas[i].cota_f%>&correo_f=<%= fichas[i].correo_f%>&fecha_d=<%= fichas[i].fecha_d%>
                            ' onsubmit="return confirm('¿Estas seguro que deseas aprobar esta reservacion?');">
                            <button class="btn btn-success"><i class="zmdi zmdi-timer"></i></button>
                        </form>
                        </div>
                        <div class="div-table-cell" style="width: 8%;">
                            <form method="POST" action='/cards/eliminarReserva?cota_f=<%= fichas[i].cota_f%>&correo_f=<%= fichas[i].correo_f%>&_method=DELETE'>
                            <button class="btn btn-danger"><i class="zmdi zmdi-delete"></i></button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            <% } else  { %>
                <h2 class="text-center all-tittles">No existen reservaciones pendientes por aprobar</h2>
            <% } %>
           
        <%- include ("partes/piePagina") %>
    </div>
</body>
</html>