<!DOCTYPE html>
  <html lang="es">

    <%- include ("partes/cabecera2") %>
<script>
        function existeCorreo(input){
         let correo = $(input).val();
         
    $.ajax({
         beforeSend: function(){
             $('div#existeCorreo').html('');
             $('div#existeCorreo').html('<p class="text-center"><img src="/assets/gif/loading-22.gif"width= "20" height= "20"></p>');
         },
        url: '/ingresar/existe-c',
        type: 'POST',
        data: {correo: correo}        
    })
    .done(function(res){
        $('div#existeCorreo').html('');
        if(res!==false){
          $('div#existeCorreo').html('');  
        }else{
         $('div#existeCorreo').html(`<p class="text-center"><img src="/assets/icons/notificacion-error.ico"width= "20" height= "20">Usted no se encuentra registrado</p>`);
        }
        

    })
    .fail(function(error){
        $('div#existeCorreo').html('<p class="text-center">!Ha fallado la solicitud¡</p>');
       
    });
     }
function comprobarContraseña(input) {
    let clave1 = $("input#clave").val();
    let clave2 = $(input).val();
   
    if (clave1 !== clave2) {
        $("div#mensajeC").html('<p class="text-center" style="color: rgb(0,0,0);">Su clave no coincide</p>');
    }else{
        $("div#mensajeC").html('');
    }
 }
 
</script>
<body class="full-cover-background" >


<% if (conf == 1) { %><!--Primera parte del restablecimiento de contraseña-->
    <div class="form-container">
        <p class="text-center" >
            <i class="zmdi zmdi-help-outline  zmdi-hc-4x"></i>
        </p>
    <h4 class="text-center all-tittles" style="margin-bottom: 20px;">Ingresa tu correo electrónico </h4>

    <% if (mensajeRecuperacion) { %>
        <div class="text-center">
            <%= mensajeRecuperacion%>
        </div>
    <% } %> 
    
    
    <form action= '/recuperacion' method="POST" autocomplete="off" style="margin-top: 30px;">

        <div class="group-material-login">
            <input name="correo" type="email" class="material-login-control material-control" onkeyup="existeCorreo(this)" required="" maxlength="50">
            <span class="highlight-login"></span>
            <span class="bar-login"></span>
            <label><i class="zmdi zmdi-email"></i> &nbsp; Correo electrónico</label>
        </div>

           <div id="existeCorreo" style="position: absolute; margin-left: 100px;">
                       
        </div>
        <br><br>
        <button class="btn-login" type="submit"> Aceptar &nbsp;<i class="zmdi zmdi-arrow-right"></i></button>
        
    </form>
<% } %>
 
<% if (conf == 2) { %><!--Segunda parte donde se muestran las preguntas de seguridad y se solicitan las respuestas-->
    <div class="form-container">
        <p class="text-center" >
            <i class="zmdi zmdi-help-outline  zmdi-hc-4x"></i>
        </p>
    <h4 class="text-center all-tittles" style="margin-bottom: 30px;">Ingresa  las respuestas correspondientes</h4>
    
    <form action= '/recuperar?id_1=<%=preguntas[matriz[0]].id_p%>&id_2=<%=preguntas[matriz[1]].id_p%>&id_3=<%=preguntas[matriz[2]].id_p%>&id_4=<%=preguntas[matriz[3]].id_p%>&id_5=<%=preguntas[matriz[4]].id_p%>&correo=<%=correo%>' method="POST" autocomplete="off">
        

        <div class="group-material">
            <input name="r_1" type="text" class="material-control material-control-login" placeholder="Respuesta" required="" maxlength="100" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,100}" data-toggle="tooltip" data-placement="top" title="Respuesta 1">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label><%= preguntas[matriz[0]].pregunta %></label>
        </div>
        <div class="group-material">
            <input name="r_2" type="text" class="material-control material-control-login" placeholder="Respuesta" required="" maxlength="100" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,100}" data-toggle="tooltip" data-placement="top" title="Respuesta 2">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label><%= preguntas[matriz[1]].pregunta %></label>
        </div>
        <div class="group-material">
            <input name="r_3" type="text" class="material-control material-control-login" placeholder="Respuesta" required="" maxlength="100" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,100}" data-toggle="tooltip" data-placement="top" title="Respuesta 3">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label><%= preguntas[matriz[2]].pregunta %></label>
        </div>
        <div class="group-material">
            <input name="r_4" type="text" class="material-control material-control-login" placeholder="Respuesta" required="" maxlength="100" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,100}" data-toggle="tooltip" data-placement="top" title="Respuesta 4">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label><%= preguntas[matriz[3]].pregunta %></label>
        </div>
        <div class="group-material">
            <input name="r_5" type="text" class="material-control material-control-login" placeholder="Respuesta" required="" maxlength="100" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,100}" data-toggle="tooltip" data-placement="top" title="Respuesta 5">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label><%= preguntas[matriz[4]].pregunta %></label>
        </div>
        
        
           
        <button class="btn-login" type="submit"> Enviar &nbsp;<i class="zmdi zmdi-arrow-right"></i></button>
        
    </form>
<% } %>

    <% if (conf == 3) { %><!--Cuando ya se han comprobado las respuestas a las preguntas de seguridad-->
    <div class="form-container">
        <p class="text-center" >
            <i class="zmdi zmdi-help-outline  zmdi-hc-4x"></i>
        </p>
    <h4 class="text-center all-tittles" style="margin-bottom: 30px;">Ingresa  tu nueva contraseña</h4>
    <% if (mensajeRecuperacion) { %>
        <div>
            <%= mensajeRecuperacion%>
        </div>
    <% } %> 
    
    <form action= '/recuperar/cambio_clave?correo=<%=correo%>' method="POST" autocomplete="off">
        
        <div class="group-material-login">
            <input name="correo" type="email" id="correo" class="material-login-control material-control" onkeyup="existeCorreo(this)" required="" maxlength="50">
            <span class="highlight-login"></span>
            <span class="bar-login"></span>
            <label><i class="zmdi zmdi-email"></i> &nbsp; Correo electrónico</label>
        </div>
        <div id="existeCorreo" style="position: absolute; margin-left: 100px;">
                       
        </div>

        <div class="group-material">
            <input name="clave" type="password" id="clave" class="material-control material-control-login" placeholder="Contraseña" required="" maxlength="10" data-toggle="tooltip" data-placement="top" title="Escribe una contraseña">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Contraseña</label>
        </div>
        <div class="group-material">
            <input name="claveControl" onkeyup="javascript: comprobarContraseña(this)" type="password" class="material-control material-control-login" placeholder="Repite la contraseña" required="" maxlength="10" data-toggle="tooltip" data-placement="top" title="Repite la contraseña">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Repetir contraseña</label>
        </div>
        <button class="btn-login" type="submit"> Enviar &nbsp;<i class="zmdi zmdi-arrow-right"></i></button>
        
    </form>


<% } %>


    

</div>
</body>

</html>